@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
   /* Color */
   --white-color: #fff;
   --black-color: #000000;
   --blue-color: #045fd4;
   --red-color: #ff0000;
   --grey-dark-color: #909090;
   --grey-light-color: #e0e0e0;
   --slategray-color: #708090;

   /* Size */
   --padding: 12px;

   /* Font Size */
   --font-huge: 48px;
   --font-mega: 36px;
   --font-super: 28px;
   --font-large: 18px;
   --font-medium: 14px;
   --font-small: 12px;
   --font-micro: 10px;

   /* Font Family */
   --merienda: merienda;
   --roboto: Roboto;

   /* Border Radius */
   --border-radius: 6px;

   /* Backgroun Color */
   --background-color: #242637;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   overflow-y: scroll;
}

body {
   font-family: var(--roboto);
   /*background-color: #f4f4f4;*/
   background-color: var(--background-color);
   height: 100%;
   background-color: var(--background-color);
}

ul,
nav {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: inherit;
}

/* Header */

header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white-color);
   padding: 20px 100px;
}

header .header__title {
   text-transform: uppercase;
   font-size: var(--font-large);
}

header .header__nav {
   display: flex;
}

header .header__nav li {
   margin: 0 15px;

}

header .header__nav li:first-child {
   margin-left: 0;
}

header .header__nav li:last-child {
   margin-right: 0;
}

@media screen and (max-width: 1000px) {
   header {
      padding: 20px 50px;
   }
}

@media screen and (max-width: 700px) {
   header {
      flex-direction: column;
   }

   header .header__title {
      margin-bottom: 15px;
   }

   header .header__nav li {
      margin: 0 7px;
   }

}

/*************************/
/*        Index          */
/*************************/

section.banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   justify-content: center;
   color: var(--black-color);
   text-align: center;
}

section.banner .banner__title {
   font-size: 62px;
   margin-bottom: var(--padding);
   color: var(--white-color);
   font-family: var(--merienda);
}

section.banner .banner__caption {
   text-transform: uppercase;
   font-size: var(--font-large);
   color: var(--white-color);
   margin-bottom: var(--padding);
}

section.banner .banner__btn {
   font-size: var(--font-medium);
   color: var(--grey-light-color);
   text-transform: uppercase;
   border: 2px solid var(--white-color);
   padding: var(--padding);
   border-radius: var(--border-radius);
}

section.banner iframe {
   margin-top: 3%;
   margin-bottom: -3%;
}

section.banner .banner__eqi {
   color: var(--grey-light-color);
   font-size: 32px;
   margin-top: 5%;
}

@media screen and (max-width: 1000px) {
   section.banner {
      padding: 100px 50px;
   }
}

@media screen and (max-width: 600px) {
   section.banner {
      padding: 125px 30px;
   }
}

/*************************/
/*         Team          */
/*************************/

.team__title {
   max-width: 500px;
   width: 100%;
   padding: 30px;
   margin: 80px auto 30px;
   /*background: var(--white-color);*/
   background: #f4f4f4;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   border-radius: var(--border-radius);
}

.team__navContainer {
   width: 89%;
   display: flex;
   justify-content: center;
}

.team__nav {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-bottom: 5px;
}

.team__nav .team__li {
   margin-right: 15px;
   padding: 5px;
   border-radius: var(--border-radius);
   display: inline-block;
   color: var(--white-color);
}

.team__nav .team__li:first-child {
   margin-left: 0;
}

.team__nav .team__li:last-child {
   margin-right: 0;
}

.team__nav .team__li.active {
   padding-bottom: calc(var(--padding) / 2);
   background-color: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   color: var(--black-color);
}

.team__nav .team__li:hover {
   cursor: pointer;
   border-bottom: solid 1px var(--grey-dark-color);
}

.team__nav .team__li.active:hover {
   border-bottom: none;
}

.team__message {
   width: 90%;
   max-height: 100px;
   background-color: var(--white-color);
   margin: 10px auto;
   border-radius: var(--border-radius);
   padding: var(--padding);
   text-align: center;
   font-size: var(--font-large);
   display: none;
}

.team__message a {
   text-decoration: underline;
   font-weight: bold;
}

.team__message.active {
   display: block;
}

section.team {
   height: 100%;
   width: 100%;
   display: flex;
   align-content: space-around;
   text-align: center;
   flex-wrap: wrap;
   justify-content: center;
}

section.team .team__member {
   flex-direction: column;
   justify-content: space-evenly;
   max-width: 430px;
   max-height: 400px;
   margin: 10px 20px;
   position: relative;
   background-color: var(--white-color);
   border-radius: var(--border-radius);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   padding: 25px;
   display: none;
}

section.team .team__member.active {
   display: flex;
}

section.team .team__member.active .team__president {
   color: var(--slategray-color);
}

@media screen and (max-width: 1255px) {
   section.team .team__member.active {
      width: 50%;
   }
}

@media screen and (max-width: 1000px) {
   .team__nav {
      width: 50%;
      margin: 0 auto;
      justify-content: center;
   }

}

section.team .team__member img {
   width: 60%;
   height: 250px;
   object-fit: cover;
   margin: 0 auto;
   margin-bottom: 10px;
   border-radius: var(--border-radius);
}

section.team .team__member .team__major {
   font-size: var(--font-medium);
   color: var(--grey-dark-color);
   margin-top: 1px;
}

section.team .team__member p {
   margin-top: 5px;
}

section.team .team__member .team__btn {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}

section.team .team__member .team__btn button {
   border: none;
   background-color: var(--white-color);
}

section.team .team__member .team__btn i {
   display: block;
   width: 85px;
   margin: 0 5px;
   padding: 10px 5px;
   border-radius: var(--border-radius);
   transition: all 0.3s ease;
   border-style: none;
   font-size: var(--font-large);
 }

 section.team .team__member .fa-envelope:hover {
   background: var(--red-color);
   color: var(--white-color);
 }

 section.team .team__member .fa-linkedin:hover {
   background: #007bb5;
   color: var(--white-color);
 }

 section.team .team__member .fa-github:hover {
   background: #040204;
   color: var(--white-color);
 }

 section.team .team__member .fa-user:hover {
   background: #2eb67d;
   color: var(--white-color);
 }

/*************************/
/*         Join          */
/*************************/

.join__title {
   max-width: 500px;
   width: 100%;
   padding: 30px;
   margin: 80px auto 30px;
   background: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   border-radius: var(--border-radius);
}

section.join__body {
   display:flex;
   flex-direction: column;
   align-items: stretch;
   position: relative;
   justify-content: space-between;
   background-color: #f4f4f4;
   margin: 0 auto;
   margin-top: 60px;
   padding: 10px 30px;
   width: 30%;
   border-radius: var(--border-radius);
}

section.join__body .contact__header {
   color: var(--black-color);
   width: 80%;
   text-align: left;
   font-size: var(--font-huge);
}

section.join__body .join__header {
   width: 80%;
   margin: 40px 0px;
   font-size: var(--font-mega);
   text-align: left;
}

section.join__body .join__platform {
   text-transform: capitalize;
   padding: 10px 10px;
   font-size: 30px;
}

section.join__body .join__platform {
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
}

section.join__body .join__platform button {
   border: none;
   /*background-color: var(--white-color);*/
}

section.join__body .join__platform i {
   display: block;
   width: 85px;
   margin: 0 5px;
   padding: 10px 5px;
   border-radius: var(--border-radius);
   transition: all 0.3s ease;
   border-style: none;
   font-size: 25px;
   /*font-size: var(--font-large);*/
}

section.join__body .join__platform .fa-user-plus:hover {
   background: #2eb67d;
   color: var(--white-color);
}

section.join__body .join__platform .fa-slack:hover {
   background: #4a154b;
   color: var(--white-color);
}

section.join__body .join__platform .fa-linkedin:hover {
   background: #007bb5;
   color: var(--white-color);
}

section.join__body .join__platform .fa-github:hover {
   background: #000000;
   color: var(--white-color);
}

section.join__body .join__platform .fa-calendar-alt:hover {
   background: #ff8c00;
   color: var(--white-color);
}

section.join__body .join__platform .fa-envelope:hover {
   background: var(--red-color);
   color: var(--white-color);
}

/*************************/
/*         Event         */
/*************************/

.event__title {
   max-width: 500px;
   width: 100%;
   padding: 30px;
   margin: 80px auto 30px;
   background: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   border-radius: var(--border-radius);
}

.event__navContainer {
   width: 89%;
   display: flex;
   justify-content: center;
}

.event__nav {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-bottom: 5px;
}

.event__nav .event__li {
   margin-right: 15px;
   padding: 5px;
   border-radius: var(--border-radius);
   display: inline-block;
   color: var(--white-color);
}

.event__nav .event__li:first-child {
   margin-left: 0;
}

.event__nav .event__li:last-child {
   margin-right: 0;
}

.event__nav .event__li.active {
   padding-bottom: calc(var(--padding) / 2);
   background-color: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   color: var(--black-color);
}

.event__nav .event__li:hover {
   cursor: pointer;
   border-bottom: solid 1px var(--grey-dark-color);
}

.event__nav .event__li.active:hover {
   border-bottom: none;
}

section.event {
   width: 100%;
   height: 100%;
   margin-top: 3%;
   margin-bottom: 3%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
}

section.event .event__text {
   display: none;
   background-color: var(--white-color);
   height: 70%;
   min-width: 45%;
   max-width: 49%;
   padding-bottom: 20px;
   border-radius: var(--border-radius);
}

section.event .event__text h2 {
   margin-top: 30px;
}


section.event .event__text .event__info {
   display: flex;
   align-items: center;
}

section.event .event__text .event__info span:first-child {
   margin: 10px 80px;
}

section.event .event__text.active {
   display: block;
}

section.event iframe {
   width: 50%;
   height: 500px;
}

/*************************/
/*        Contact        */
/*************************/

.contact__title {
   max-width: 500px;
   width: 100%;
   padding: 30px;
   margin: 80px auto 30px;
   background: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   border-radius: var(--border-radius);
}

section.contact__body {
   display:flex;
   flex-direction: column;
   align-items: center;
   vertical-align: top;
   position: relative;
   justify-content: top;
   background-color: var(--white-color);
   margin: 0 auto;
   margin-top: 9vh;
   padding: 10px 0px;
   width: 60%;
   height: 60vh;
   border-radius: var(--border-radius);
}

section.contact__body .contact__header {
   color: var(--black-color);
   width: 80%;
   text-align: center;
   font-size: var(--font-huge);
   padding: var(--padding);
}

section.contact__body #contact__form {
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 30%;
   margin: 0px auto;
   margin-top: 8px;
   font-size: var(--font-super);

}

section.contact__body input[type="text"]::placeholder, section.contact__body input[type="email"]::placeholder {
   height: 30px;
}

section.contact__body textarea.form_component {
   height: 100px;
}

.form_component {
   width: 100%;
   margin: 0px 0px 20px 0px;
   font-size: var(--font-large);
}

@media screen and (max-width: 700px) {
   section.contact__body {
      margin-top: 12vh;
   }

   section.contact__body #contact__form {
      width: 50%;
   }
}

/*************************/
/*        Footer         */
/*************************/

footer {
   width: 90%;
   max-height: 20%;
   margin: 2% auto;
   padding: var(--padding);
   border-radius: var(--border-radius);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

footer .footer__copyRight {
   width: 100%;
   text-align: center;
   color: var(--white-color);
   padding: var(--padding);
}

footer .footer__copyRight::before {
    display: inline-block;
    content: "";
    border-top: 2px solid var(--white-color);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1%;
}
