@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
   /* Color */ 
   --white-color: #fff;
   --black-color: #000000;
   --darkblue-color: rgb(51, 66, 153);
   --teal-color: rgb(48, 144, 126);
   --gold-color: #FFD700;
   --blue-color: #045fd4;
   --pastel-blue-color: #b2d7ff;
   --pastel-purple-color: #c4cfff;
   --green-color: green;
   --red-color: #ff0000;
   --lightred-color: hsl(0, 99%, 72%);
   --pumpkin-color: rgb(255, 183, 0);
   --yellow-color: rgb(251, 234, 77);
   --pastel-teal-color: #a0e7ff;
   --grey-dark-color: #909090;
   --grey-light-color: #e0e0e0;
   --slategray-color: #708090;

   /* Size */
   --padding: 12px;

   /* Font Size */
   --font-giant: 64px;
   --font-huge: 48px;
   --font-mega: 36px;
   --font-super: 28px;
   --font-large: 18px;
   --font-medium: 14px;
   --font-small: 12px;
   --font-micro: 10px;

   /* Font Family */
   --merienda: merienda;
   --roboto: Roboto;

   /* Border Radius */
   --border-radius: 6px;

   /* Background Color */
   --background-color: var(--pastel-purple-color); /*#584848;*/ /*#372424;*/
   --text-color: var(--black-color);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   overflow-y: scroll;
}

body {
   font-family: var(--roboto);
   /*background-color: #f4f4f4;*/
   background-color: var(--background-color);
   height: 100%;
   background-color: var(--background-color);
}

ul,
nav {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: inherit;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }
 

/* Header */

header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white-color);
   padding: 20px 100px;
}

header .header__title {
   text-transform: uppercase;
   font-size: var(--font-large);
}

header .header__nav {
   display: flex;
}

header .header__nav li {
   margin: 0 15px;

}

header .header__nav li:first-child {
   margin-left: 0;
}

header .header__nav li:last-child {
   margin-right: 0;
}

@media screen and (max-width: 1000px) {
   header {
      padding: 20px 50px;
   }
}

@media screen and (max-width: 700px) {
   header {
      flex-direction: column;
   }

   header .header__title {
      margin-bottom: 15px;
   }

   header .header__nav li {
      margin: 0 7px;
   }

}

/*************************/
/*        Index          */
/*************************/

section.banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   justify-content: center;
   color: var(--black-color);
   text-align: center;
}

section.banner .banner__title {
   font-size: var(--font-giant);
   margin-bottom: var(--padding);
   color: var(--white-color);
   font-family: var(--arial);
}

section.banner .banner__caption {
   text-transform: uppercase;
   font-size: var(--font-large);
   color: var(--black-color);
   margin-bottom: var(--padding);
}

section.banner .banner__btn {
   font-size: 22px;
   font-weight: bold;
   background-color: var(--lightred-color);
   color: var(--black-color);
   text-transform: uppercase;
   border: 2px solid var(--white-color);
   padding: var(--padding);
   border-radius: var(--border-radius);
} 

section.banner iframe {
   margin-top: 3%;
   margin-bottom: -3%;
}

section.banner .banner__eqi {
   color: var(--grey-light-color);
   font-size: 32px;
   margin-top: 5%;
}

@media screen and (max-width: 1000px) {
   section.banner {
      padding: 100px 50px;
   }
}

@media screen and (max-width: 600px) {
   section.banner {
      padding: 125px 30px;
   }
}

section.body {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   justify-content: center;
   color: var(--black-color);
   text-align: center;
   background-color: var(--pastel-purple-color);
}

section.body .body__title {
   font-size: 36px;
   text-transform: uppercase;
   margin-bottom: var(--padding);
   color: var(--black-color);
   font-family: var(--arial);
}

section.body .body__caption {
   font-size: 24px;
   margin-left: var(--padding);
   margin-right: var(--padding);
   margin-bottom: var(--padding);
   color: var(--black-color);
   font-family: var(--arial);
}

@media screen and (max-width: 1000px) {
   section.body {
      padding: 100px 50px;
   }
}

@media screen and (max-width: 600px) {
   section.body {
      padding: 125px 30px;
   }
}

section.body2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   justify-content: center;
   color: var(--black-color);
   text-align: center;
   background-color: var(--pastel-blue-color);
}

section.body2 .body2__title {
   font-size: 36px;
   text-transform: uppercase;
   margin-bottom: var(--padding);
   color: var(--black-color);
   font-family: var(--arial);
}

section.body2 .body2__caption {
   font-size: 24px;
   margin-left: var(--padding);
   margin-right: var(--padding);
   margin-bottom: var(--padding);
   color: var(--black-color);
   font-family: var(--arial);
}

@media screen and (max-width: 1000px) {
   section.body2 {
      padding: 150px 50px;
   }
}

@media screen and (min-width: 600px) {
   section.body2 {
      padding: 100px 30px;
   }
}

section.body3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   justify-content: center;
   color: var(--black-color);
   text-align: center;
   background-color: var(--pastel-teal-color);
}

section.body3 .body3__title {
   font-size: 36px;
   text-transform: uppercase;
   margin-bottom: var(--padding);
   color: var(--black-color);
   font-family: var(--arial);
}

/*************************/
/*         Team          */
/*************************/

.team__title {
   max-width: 500px;
   width: 100%;
   padding: 20px;
   margin: 80px auto 20px;
   color: var(--text-color);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
}

.team__navContainer {
   width: 70%;
   display: flex;
   justify-content: center;
}

.team__nav {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-bottom: 5px;
}

.team__nav .team__li {
   margin-right: 15px;
   padding: 5px;
   border-radius: var(--border-radius);
   display: inline-block;
   color: var(--black-color);
}

.team__nav .team__li:first-child {
   margin-left: 0;
}

.team__nav .team__li:last-child {
   margin-right: 0;
}

.team__nav .team__li.active {
   padding-bottom: calc(var(--padding) / 2);
   background-color: var(--white-color);
   box-shadow: 0 1px 2px rgba(50, 47, 47, 0.07);
   color: var(--black-color);
}

.team__nav .team__li:hover {
   cursor: pointer;
   border-bottom: solid 1px var(--grey-dark-color);
}

.team__nav .team__li.active:hover {
   border-bottom: none;
}

.message {
   width: 90%;
   max-height: 100px;
   background-color: var(--white-color);
   margin: 10px auto;
   border-radius: var(--border-radius);
   padding: var(--padding);
   text-align: center;
   font-size: var(--font-large);
   display: block;
}

.team__message {
   width: 90%;
   max-width: 700px;
   max-height: 100px;
   background-color: lightblue;
   margin: 20px auto;
   border-radius: var(--border-radius);
   padding: var(--padding);
   text-align: center;
   font-size: var(--font-large);
   display: none;
}

.team__message a {
   text-decoration: underline;
   font-weight: bold;
}

.team__message.active {
   background-color: var(--darkblue-color);
   max-width: 800px;
   max-height: fit-content;
   display: block;
}

section.team {
   height: 100%;
   width: 100%;
   display: flex;
   align-content: space-around;
   text-align: center;
   flex-wrap: wrap;
   justify-content: center;
}

section.team .team__member {
   flex-direction: column;
   color: var(--black-color);
   justify-content: space-evenly;
   max-width: 400px;
   max-height: 400px;
   margin: 10px 10px;
   position: relative;
   background-color: var(--white-color);
   border-radius: var(--border-radius);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   padding: 15px;
   display: none;
}

section.team .team__member.active {
   display: flex;
}

section.team .team__member.active .team__president {
   color: black;
}

section.team .team__member .team__advisor {
   display: flex;
}

@media screen and (max-width: 1255px) {
   section.team .team__member.active {
      width: 50%;
   }
}

@media screen and (max-width: 1000px) {
   .team__nav {
      width: 50%;
      margin: 0 auto;
      justify-content: center;
   }

}

section.team .team__member img {
   width: 80%;
   height: 250px;
   object-fit: cover;
   margin: 0 auto;
   margin-bottom: 10px;
   border-radius: var(--border-radius);
}

section.team .team__member .team__major {
   font-size: var(--font-medium);
   color: var(--grey-dark-color);
   margin-top: 1px;
}

section.team .team__member p {
   margin-top: 5px;
}

section.team .team__member .team__btn {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}

section.team .team__member .team__btn button {
   border: none;
   background-color: var(--white-color);
}

section.team .team__member .team__btn i {
   display: block;
   width: 85px;
   margin: 0 5px;
   padding: 10px 5px;
   border-radius: var(--border-radius);
   transition: all 0.3s ease;
   border-style: none;
   font-size: var(--font-large);
 }

 section.team .team__member .fa-envelope:hover {
   background: var(--red-color);
   color: var(--white-color);
 }

 section.team .team__member .fa-linkedin:hover {
   background: #007bb5;
   color: var(--white-color);
 }

 section.team .team__member .fa-github:hover {
   background: #040204;
   color: var(--white-color);
 }

 section.team .team__member .fa-user:hover {
   background: #2eb67d;
   color: var(--white-color);
 }

/*************************/
/*         Join          */
/*************************/

.join__title {
   max-width: 500px;
   width: 100%;
   padding: 10px;
   margin: 80px auto 10px;
   color: var(--text-color);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
}

section.join__body {
   display:flex;
   flex-direction: column;
   align-items: stretch;
   position: relative;
   justify-content: space-between;
   background-color: var(--navy-color);
   margin: 0 auto;
   margin-top: 60px;
   padding: 10px 30px;
   width: 30%;
   border-radius: var(--border-radius);
}

section.join__body .contact__header {
   color: var(--black-color);
   width: 80%;
   text-align: left;
   font-size: var(--font-huge);
}

section.join__body .join__header {
   width: 80%;
   margin: 40px 0px;
   font-size: var(--font-mega);
   text-align: left;
}

section.join__body .join__platform {
   text-transform: capitalize;
   padding: 10px 10px;
   font-size: 30px;
}

section.join__body .join__platform {
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   color: var(--black-color);
}

section.join__body .join__platform button {
   border: none;
}

section.join__body .join__platform i {
   display: block;
   width: 85px;
   margin: 0 5px;
   padding: 10px 5px;
   border-radius: var(--border-radius);
   transition: all 0.3s ease;
   border-style: none;
   font-size: 25px;
   /*font-size: var(--font-large);*/
}

section.join__body .join__platform .fa-envelope:hover {
   background: #2eb67d;
   color: var(--white-color);
}

section.join__body .join__platform .fa-discord:hover {
   background: #7289da;
   color: var(--white-color);
}

section.join__body .join__platform .fa-instagram:hover {
   background: var(--lightred-color);
   color: var(--white-color);
}

section.join__body .join__platform .fa-github:hover {
   background: #000000;
   color: var(--white-color);
}

section.join__body .join__platform .fa-calendar-alt:hover {
   background: var(--text-color);
   color: var(--white-color);
}

/*************************/
/*         Event         */
/*************************/

.event__title {
   max-width: 500px;
   width: 100%;
   padding: 10px;
   margin: 80px auto 20px;
   color: var(--text-color);
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   text-transform: uppercase;
}

.event__navContainer {
   width: 89%;
   display: flex;
   justify-content: center;
}

.event__nav {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-bottom: 5px;
}

.event__nav .event__li {
   margin-right: 15px;
   padding: 5px;
   border-radius: var(--border-radius);
   display: inline-block;
   color: var(--black-color);
}

.event__nav .event__li:first-child {
   margin-left: 0;
}

.event__nav .event__li:last-child {
   margin-right: 0;
}

.event__nav .event__li.active {
   padding-bottom: calc(var(--padding) / 2);
   background-color: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   color: var(--black-color);
}

.event__nav .event__li:hover {
   cursor: pointer;
   border-bottom: solid 1px var(--grey-dark-color);
}

.event__nav .event__li.active:hover {
   border-bottom: none;
}

section.event {
   width: 100%;
   height: 100%;
   margin-top: 3%;
   margin-bottom: 3%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
}

section.event .event__text {
   display: none;
   color: var(--black-color);
   background-color: var(--white-color);
   height: 70%;
   min-width: 50%;
   max-width: 85%;
   padding-bottom: 20px;
   padding-right: 60px;
   border-radius: var(--border-radius);
}

section.event .event__text h2 {
   margin-top: 30px;
}


section.event .event__text .event__info {
   display: flex;
   align-items: center;
}

section.event .event__text .event__info span:first-child {
   margin: 10px 80px;
}

section.event .event__text.active {
   display: block;
}

section.event iframe {
   width: 50%;
   height: 500px;
}

/*************************/
/*        Contact        */
/*************************/

.contact__title {
   max-width: 500px;
   width: 100%;
   padding: 20px;
   margin: 80px auto 20px;
   background: var(--white-color);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   border-radius: var(--border-radius);
}

section.contact__body {
   display:flex;
   flex-direction: column;
   align-items: center;
   vertical-align: top;
   position: relative;
   justify-content: top;
   background-color: var(--white-color);
   margin: 0 auto;
   margin-top: 9vh;
   padding: 10px 0px;
   width: 60%;
   height: 60vh;
   border-radius: var(--border-radius);
}

section.contact__body .contact__header {
   color: var(--black-color);
   width: 80%;
   text-align: center;
   font-size: var(--font-huge);
   padding: var(--padding);
}

section.contact__body #contact__form {
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 30%;
   margin: 0px auto;
   margin-top: 8px;
   font-size: var(--font-super);
}

section.contact__body input[type="text"]::placeholder, section.contact__body input[type="email"]::placeholder {
   height: 30px;
}

section.contact__body textarea.form_component {
   height: 100px;
}

.form_component {
   width: 100%;
   margin: 0px 0px 20px 0px;
   font-size: var(--font-large);
}

@media screen and (max-width: 700px) {
   section.contact__body {
      margin-top: 12vh;
   }

   section.contact__body #contact__form {
      width: 50%;
   }
}

/*************************/
/*       Projects        */
/*************************/

.projects__title {
   max-width: 1000px;
   width: 100%;
   padding: 10px;
   margin: 80px auto 20px;
   color: var(--black-color);
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   text-transform: uppercase;
}

.collapsible {
   background-color: rgb(89, 112, 238);
   color: white;
   cursor: pointer;
   padding: 18px;
   width: 90%;
   text-align: left;
   outline: none;
   font-size: 24px;
   font-weight: bold;
   align-content: center;
   margin-left: 5%;
   margin-top: 1%;
   margin-bottom: 1%;
}

.sub_collapsible {
   background-color: rgb(151, 81, 221);
   color: white;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   text-align: left;
   outline: none;
   font-size: 22px;
   text-overflow: ellipsis;
   align-content: center;
   margin-top: 1%;
   margin-bottom: 1%;
}

.active, .collapsible:hover {
   color: white;
   background-color: var(--darkblue-color);
}

.active, .sub_collapsible:hover {
   color: white;
   background-color: rgb(115, 61, 169);
}

.collapsible:after {
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}

.sub_collapsible:after{
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}

.collapsible.active:after {
   content: "\2212";
}

.sub_collapsible.active:after {
   content: "\2212";
}

.content {
   padding: 0 100px;
   max-height: 0;
   overflow-wrap: normal;
   overflow-y: scroll;
   color: var(--black-color);
   font-size: 20px;
   transition: max-height 0.2s ease-out;
}

/*************************/
/*        Footer         */
/*************************/

footer {
   margin-top: auto;
   width: 90%;
   max-height: 20%;
   margin: 2% auto;
   color: var(--black-color);
   padding: var(--padding);
   border-radius: var(--border-radius);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

footer .footer__copyRight {
   margin-top: auto;
   width: 95%;
   text-align: center;
   color: var(--black-color);
   padding: var(--padding);
}

footer .footer__copyRight::before {
   margin-top: auto;
   display: inline-block;
   content: "";
   border-top: 2px solid var(--white-color);
   width: 95%;
   margin: 0 auto;
   margin-bottom: 1%;
}
